.header {
    padding-top: 20px;

    display: flex;
    align-items: flex-end;
    width: 100%;
}

.header__logo {
    margin-right: 140px;
    
}

.header__logo-link {
    text-decoration: none;
    
}

